*~
\#*\#
.envrc
.DS_Store

yc-svc-key.json

packer/variables.json

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

*.backup

*.retry

*.pyc
__pycache__

ansible/roles/jdauphant.nginx

vault.key
